.about {
    border-bottom: 2px solid var(--color-ac0);
    margin-bottom: 10px;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    float: right;
}

.social_networks {
    width: 100%;
    height: var(--icon-size);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.social_network {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 2px #00000080);
    background-position: center;
    background-repeat: no-repeat;
}

.telephone {
    background-color: var(--color-bg1);
    background-image: url("../images/icons/telephone.svg");
}

.whatsapp {
    background-color: var(--color-whatsapp);
    background-image: url("../images/icons/whatsapp.svg");
}

.telegram {
    background-color: var(--color-telegram);
    background-image: url("../images/icons/telegram.svg");
}



@media screen and (max-width:750px) {
    :root {
        --app-width: 100%;
    }
}