.about {
    border-bottom: 2px solid var(--color-ac0);
    margin-bottom: 10px;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    float: right;
}

.social_networks {
    width: 100%;
    height: var(--icon-size);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}



.telephone {
    background-color: var(--color-bg1);
    background-image: url("../images/icons/telephone.svg");
}

.whatsapp {
    background-color: var(--color-whatsapp);
    background-image: url("../images/icons/whatsapp.svg");
}




@media screen and (max-width:750px) {
    :root {
        --app-width: 100%;
    }
}